[Unit]
Description=IRC server capable of controlling Web WeChat
Documentation=https://github.com/MaskRay/wechatircd
After=network.target

[Service]
User=nobody
Group=nobody
ExecStart=/usr/bin/wechatircd -c /etc/wechatircd/config

[Install]
WantedBy=multi-user.target
